@import "tailwindcss";

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-scroll-up {
  animation: scroll-up 50s linear infinite;
}
